.bloco-idiomas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 2rem;

  ul {
    justify-content: center;
    align-items: center;
  }

  li {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
  }

  li::before {
    content: "";
    display: inline-block;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-image: url("../images/checkmark_branco.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
  }
}
