* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 1.6rem;
  margin: 1.5rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}

body {
  background: linear-gradient(
    135deg,
    #ff0000cc 10%,
    #000000e6 20%,
    #000000e6 80%,
    #ff0000cc 95%
  );
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (min-width: 768px) {
  main {
    padding: 1.6rem;
    max-width: 60%;
    margin: 1rem auto;
  }
}

/* img {
  max-width: 75%;
}

header {
  display: flex;
  flex-direction: column;
  
} */

/*

  img {
    border-radius: 50%;
    margin: 1rem auto;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 2rem;
    text-align: justify; /* justifica o texto 
    
}
    */
